<html>
<head>
  <link rel= "stylesheet" type= "text/css" href='css/style_table.css'>
</head>

<table class="blueTable" >
    <tr>
        <th>Event_Date</th>
        <th>Event</th>
        <th></th>
        <th></th>
    </tr>
      <tr>
        <td>hey</td>
        <td>bye</td>
         <td> </td>
          <form method="post" action="http://localhost:5000/deletetask/{{i[0]}}">
              <td><input type="submit" name="usertask" value="delete" ></td>
          </form>
          <form method="post" action="http://localhost:5000/updatetask/{{i[0]}}">
              <td><input type="submit" name="usertask" value="update"> </td>
          </form>


      </tr>

</table>
</html>
