<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        function greeting(){
                alert("SUSPEND STATUS CHANGED!!")
            }
    </script>

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_table.css') }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <meta charset="UTF-8">
    <title>Hey Admin</title>
<style>
    .button {
  background-color: #008CBA; /* blue */
  border: none;
  color: white;
  padding: 10px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}
a{
float:right;
}
.right {
  <!--position: absolute;-->
  right: 0px;
  top:0;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
  float:right;
}
</style>
    <script type="text/javascript">
    function search(data) {
    searchApi(data.target.value);
     }
</script>
    <script>
    function searchApi(data) {
               $(document).ready(function(){
           alert(data);
           $.ajax({ url: "http://localhost:5000/search",
           type:'post',
           data: data,
           success: function(res){
        alert(res);}});
           });
     }
</script>
</head>
<div>

<form method="post" action="http://localhost:5000/addnewuser">
<h1>Hello Admin<a href="http://localhost:5000/logout">Log Out</a></h1>
<h3>User with Their Associated ToDos:<input type="submit"  name="bsubmit" class='button' value="Add New User">

</h3>
</form>
<div class="right">
<form method="get" action="http://localhost:5000/adminpanelsearch">
    <input type="text" name="searchquery" size="20">
    <input type="submit" class="button" value="SEARCH">
</form>
</div>
<!---<input type="text" name="search"  #search onkeypress="search(event)">--->
<hr style="border: 4px solid black;" />

    <table class="blueTable">
        <tr>
            <th>user_id</th>
            <th>user_name</th>
            <th>role</th>
            <th>suspend_state</th>
            <th>no. of ToDos</th>

        </tr>

            {% for i in val %}
            <tr>
                {% for j in i %}
               <td> {{ j }} </td>
                {% endfor %}
                <form method="post" action="http://localhost:5000/viewusertodo/{{i[0]}}">
                    <td><input type="submit" name="bsubmit" class='button' value="View Todos"></td>
                </form>
                <form method="post" action="http://localhost:5000/suspenduser/{{i[0]}}" onsubmit="greeting()">
                    <td><input type="submit" name="bsubmit" class='button' value="SUSPEND"
                               ></td>
                </form>
                <form method="post" action="http://localhost:5000/deleteuser/{{i[0]}}">
                    <td><input type="submit" name="bsubmit" class='button' value="DELETE"></td>
                </form>


            </tr>
         {% endfor %}

    </table>

</body>
</html>