<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>flask-bootstrap example</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_table.css') }}">
<style>

</style>
</head>
<body>
<p><center><h1> Search Here..</h1></center></p>
<center><form method="get" action="http://localhost:5000/adminpanelsearch">
    <input type="text" name="searchquery" size="20">
    <input type="submit" class="button" value="SEARCH">
    <a href="http://localhost:5000/admin"> <input type="button" class="button" value="Cancel"></a><br>
</form><br></center>
      <div class="container">
      {{ pagination.links }}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>

              <th>User Name</th>
              <th>Task Title</th>
              <th>Task Description</th>
            </tr>
          </thead>
          <tbody>

            {% for i in users %}
            <tr>
                {% if i< total %}
             <td>{{ loop.index + (page - 1) * per_page }}</td>
              <td>{{ result[i][1] }}</td>
              <td>{{ result[i][6]}}</td>
              <td>{{ result[i][7]}}</td>
                {% endif %}
            {% endfor %}
            </tr>

          </tbody>
        </table>
</div>
      {{ pagination.links }}
    </div>

</body>
</html>
