
<html>
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_table.css') }}">
    <meta charset="UTF-8">
    <title>Python is Awesome!</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
        function greeting(){
                alert("Task Added Succesfully!!")
            }
    </script>
    <script >
        function getData() {
           alert("dsdsdssd");
           $(document).ready(function(){
           alert('cvcvvc');
           $.ajax({ url: "http://localhost:5000/getTaskList",type:'get',success: function(data){
        $('#showdata').html(data);}});
           });

          }

    </script>

    <style>
        header {
              background-color: black;
              padding: 5px;
              text-align: center;
              font-size: 20px;
              color: #FFF5EE;
              }
        navleft {
              float: left;
              width: 10%;
              height: 80%;
              background:  	white;
              padding: 20px;
            }
            navright {
              float: right;
              width: 10%;
              height: 80%;
              background:white;
              padding: 20px;
            }
            @media (max-width: 600px) {
              nav, article {
                width: 100%;

                height: auto;
              }
            }
            article {
              float: left;
              padding: 25px;
              width: 70%;
              background-color: #f1f1f1;
              height: 80%;
            }
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }



    </style>
</head>
<body onload="">

<header>
    <h2>Future ToDo</h2>
</header>
<navleft></navleft>
<section>

    <article>
<form method="POST" action="http://localhost:5000/addtask" onsubmit="greeting()" onload="">
<table  align="center">
    <tr>
        <td>Task Date:</td>
        <td><input type="date" name="taskdate" required></td>

    </tr>
    <tr>
        <td>Task time</td>
        <td>
            <input type="time" name="tasktime" required>
        </td>
    </tr>
    <tr>
        <td>
            Task Title:
        </td>
        <td>
            <input type="text" name="tasktitle" required size="26"><br>

        </td>
    </tr>
    <tr>
        <td>
            Task description:
        </td>
        <td>
            <br><textarea rows="4" cols="30" name="taskdescription" required></textarea>
        </td>

    </tr>
    <tr>
        <td colspan="2"><input type="submit" name="usertask" value="Add Task" /></td>
    </tr>
</table>

<br>

        <h3>Task List:</h3><a href="http://localhost:5000/logout">Log Out</a>
<hr style="border: 4px solid black;" />
        <p>{{var1}}</p>
        <p id="var2Id">{{var2}}</p>
</form>

      <table class="blueTable" >
          <tr>
              <th>todo_id</th>
              <th>todo_title</th>
              <th>todo_description</th>
              <th>todo_date</th>
              <th>todo_time</th>
              <th></th>

          </tr>
         {% for i in result %}

            <tr>
                {% for j in i %}
               <td> {{ j }} </td>
                {% endfor %}
                <form method="post" action="http://localhost:5000/deletetask/{{i[0]}}">
                    <td><input type="submit" name="usertask" value="delete" >{{i[0]}}</td>
                </form>
                <form method="post" action="http://localhost:5000/updatetask/{{i[0]}}">
                    <td><input type="submit" name="usertask" value="update"> </td>
                </form>


            </tr>
         {% endfor %}
      </table>


        <br>
    </form>
        </article>

    <navright></navright>
</section>

</body>


</html>