<html>
<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/login.css') }}" type="text/css">
</head>

{% block body %}
{% if session['logged_in'] %}

You're logged in already!

{% else %}

<form action="http://localhost:5000/validate" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
    <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="username" name="username">
        <label class="login-field-icon fui-user" for="login-name"></label></div>
    <div class="control-group">
        <input type="password" class="login-field" value="" placeholder="password" name="password">
        <label class="login-field-icon fui-lock" for="login-pass"></label></div>
    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>{% endif %}
{% endblock %}
</html>