<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>updating!!</title>
</head>
<body>
{% for i in data %}
<form action="http://localhost:5000/update/{{i[0]}}" method="post">

<table  align="center" border="1">
    <h1 align="center">Update Task:</h1>


    <tr>
        <td></td>
        <td></td>
        <td>old data</td>
    </tr>
    <tr>
        <td>Task Date:</td>
        <td><input type="date" name="taskdate"></td>
        <td>{{i[3]}}</td>

    </tr>
    <tr>
        <td>Task time</td>
        <td>
            <input type="time" name="tasktime">
        </td>
        <td>{{i[4]}}   </td>
    </tr>
    <tr>
        <td>
            Task Title:
        </td>
        <td>
            <input type="text" name="tasktitle"><br>

        </td>
        <td>{{i[1]}}</td>
    </tr>
    <tr>
        <td>
            Task description:
        </td>
        <td>
            <br><textarea rows="4" cols="30" name="taskdescription"></textarea>
        </td>
        <td>{{i[2]}}</td>

    </tr>
    <tr>
        <td colspan="3"><center><input type="submit" name="usertask" value="update Task" /></center></td>
    </tr>
</table>
{% endfor %}
</form>

</body>
</html>